[2018-09-17 12:13] MrEmelianenko opened #3 "Mock `ipcRenderer` and `ipcMain`"
To properly cover `SharedMutations` by tests we need to mock IPC communication of Electron.

[2018-09-17 12:16] MrEmelianenko opened #4 "Use `Storage` from `electron-store` in tests"
To properly cover `PersistedState` by 100% tests we need to find workaround how to use `new Storage` without running of Electron app.

[2018-10-03 09:47] marvinosswald opened #5 "actions get surpressed without any log message"
[code]

i'm calling the addPod Action but my action never gets hit.. if i remove this plugin from vuex it works seemless.

Please let me know if i can provide more data.

my vuex index.js

[code]

[2018-10-27 14:06] miyanokomiya commented on #5
Is it necessary for working the plugin 'createSharedMutations' to init Vuex at main process and all renderer processes?
When I did it the plugin worked, but I have no confidence that it's correct usage.

I want a sample project which teaches me how to use 'vuex-electron'.

[2018-10-28 07:07] Ksistof commented on #5
@miyanokomiya Could you please provide your code of main.js? I am trying to make it work with no luck. Thanks

[2018-10-28 15:06] miyanokomiya commented on #5
@Ksistof
The plugin 'createSharedMutations' seems to make the store global for all processes.
All processe have original state, but each state has the same value by 'createSharedMutations'.

If renderer processes dispach actions, the actions is cancelled in renderer processes and notify main process to do the actions.
If main process commit mutations, the mutations change state of that and notify

[2018-10-30 05:26] shealan opened #6 "Example project?"
This appears to be the holy grail 😮 (sharing of store between processes) but the lack of example code leaves me wondering how it works. How do you access store data and fire actions from the main process? I'd love to know if anyone has any example code online?

[2018-11-08 16:40] MrEmelianenko commented on #6
@shealan glad to hear this. I'll add some examples on this weekend 😉

[2018-11-08 22:35] shealan commented on #6
Thank you so much! I have so many projects to use this on. Very exciting indeed.

[2018-11-09 12:46] fikrihanda opened #7 "handle error in dispatch"
how to handle error in dispatch ? i want build promise in dispatch but error trigger in main process how to handle in renderer process ?

[2018-11-10 10:10] MrEmelianenko commented on #7
Hi @fikrihanda,

This isn't possible because all actions are performing in the main process.

Best Regards,
Andrew

[2018-11-10 12:30] MrEmelianenko commented on #5
@marvinosswald @miyanokomiya @Ksistof

Hey guys,

I've added the example project and updated documentation a little bit. I really missed one step in `Installation` guide.

In case if you are using `createSharedMutations()` you need to create an instance of Vuex Store in the main process. Just add such line to your main process:

[code]

Also, you could check the example project:
– https://github.c

[2018-11-10 13:07] fikrihanda commented on #7
i see i think need store error for handle thx for response @MrEmelianenko

[2018-11-10 13:07] #7 closed

[2018-11-12 14:55] Burtonium commented on #5
You should at least write out an error message if this fails, though, and save a headache for developers.

[2018-11-13 03:06] #6 closed, assigned to nobody

[2018-11-15 13:06] mlanin opened #8 "How to return promise from an action?"
In all my projects with vuex I used to call api methods in module's actions, store result in state and then handle result in component method by returning Promise like this:

Component:
[code]

Vuex module:
[code]

It seems like using vuex-electron and sharedState I can't do this anymore, since vuex actions now return undefined.

So how to handle when action was accomplished?

[2018-11-15 18:08] marvinosswald commented on #5
Solved, thanks @MrEmelianenko for the neat example !

[2018-11-15 18:08] #5 closed

[2018-12-01 15:45] lihaotian0607 commented on #8
how did you solve this problem???

[2018-12-17 15:27] skew202 opened #10 "Expose clear() from `electron-store`"
Would be nice to be able to reset store for development purposes.
https://github.com/sindresorhus/electron-store#clear

[2018-12-19 16:20] ztoben opened #11 "Type error if using vue-cli without proper webpack config"
You may want to consider updating the readme to cover an error I was running into. Even though it's not caused by this package, it may be helpful for troubleshooting.

I had bootstrapped my project with `vue-cli` and was seeing this error after adding the `createPersistedState` to my store:

[code]

I believe this is caused by referencing electron outside of the `main.js` file.

I fixed it by addi

[2018-12-21 05:44] BlackConure opened #12 "Dispatch not being fired from component"
I seem to be having an issue with attempting to dispatch an action within a component.  It seems that the dispatch is not being received by the store action.

However, if I change the setter to use this.$store.originalDispatch() it works fine.

It seems that notifyMain in shared-mutations.js is not working.    What am I missing here?

(FYI: I am using Nuxt, so access to the store is via this.$stor

[2018-12-21 06:12] BlackConure opened #13 "Feature: Add get/set mapping to store fields."
One of the missing components of Vuex is the ability to do two-way v-model binding directly from the store object (you have to write your own setter and getter for each store one).   If your form is extensive, that is a lot of unnecessary coding.

One solution I use in standard (non-electron) vue applications is [vuex-map-fields](https://github.com/maoberlehner/vuex-map-fields).   It allows you to

[2018-12-21 19:01] Stormtv commented on #12
I think I ran into this issue before

Did you make sure to
[code]
inside your electron index.js (the one where the createWindow function and auto updater is)
I'm not sure why this required in the build even if the variable but I haven't had time to figure it out

[2018-12-23 10:00] daniel-farina commented on #12
Confused about this. I had the exact same issue as @BlackConure and it adding
[code]
as mentioned by @Stormtv to the src/main/index.js fixed the issue for me. Dispatching to store is now working.

Thank you

[2018-12-26 14:04] davestewart opened #14 "Remove "don't use direct commit's" trap"
Hi there,

Thanks for the lib. It seems from the source code there is a lot to do to get Vuex working nicely with Electron!

One thing I think is too much though, is the trap to prevent commits outside of stores:

https://github.com/vue-electron/vuex-electron/blob/master/src/shared-mutations.js#L54-L56

Surely it's not this library's place to decide on individual developer preference. Committing o

[2018-12-26 14:46] gaodeng opened #15 "main process and renderer process save the same json data to disk"
https://github.com/vue-electron/vuex-electron/blob/297e7fa9d2c94ea047ae157336529e8d4c418b70/src/persisted-state.js#L107

may be  change to
[code]

[2018-12-27 13:02] jzj1993 opened #16 "Move electron from `dependencies` to `devDependencies`"
I'm using electron-vue to build my application. And I encountered a problem that the `.app` and DMG file is too large after build with electron-builder.

The problem has been described here
https://github.com/electron-userland/electron-builder/issues/3573

Finally I found the reason is that vuex-electron declares a dependency of electron. So I think it may be better if move electron from `dependen

[2018-12-27 18:15] davestewart commented on #16
Perhaps it should be a peer dependency?

- https://nodejs.org/en/blog/npm/peer-dependencies/#the-solution-peer-dependencies

[2018-12-28 06:34] gaodeng opened #17 "Error:EPERM:operation not permitted,rename"
![qq 20181228143321](https://user-images.githubusercontent.com/1118249/50505259-a081ec80-0aad-11e9-9da4-64c6a6df234d.png)

[2018-12-28 09:11] Chaslee4 commented on #12
Meeting the same issue now, the solution is just import the code you mentioned? Should we use the `store` variable in the index.js ? Is there any other code line?

[2018-12-28 09:19] Chaslee4 commented on #12
[https://github.com/marvinosswald/kubeterm/commit/00358929f69d80f7b2987e7b5930f87e39a00edc](url) anyway, this commit solved my problem

[2018-12-28 15:14] BlackConure commented on #12
Why would you need to import the store but not reference it anywhere?    In Nuxt, the store is in this.$store.   By doing an import and having it work seems to suggest that somewhere down the line it is referencing window.store instead of this.store (?)

[2019-01-02 15:03] achtan opened #18 "persist only selected paths"
can please you implement:
[code]

from https://github.com/robinvdvleuten/vuex-persistedstate

[2019-01-02 16:44] busheezy commented on #8
I've been wasting a bunch of time trying to figure out why I can't get this working. I guess this library isn't really in a usable state.

[2019-01-02 17:00] gabrielstuff commented on #14
Hello,
Yes, indeed it cause some incompatibility with plugin like this one for instance: https://github.com/spacebro/spacebro-client

Or maybe do you have a proposal @MrEmelianenko ?

[2019-01-04 05:09] ktmouk commented on #8
In my case,
It was solved by creating a custom plugin.

1. Create Custom Plugin
[code]

2. Load Plugin
[code]

3. Use
[code]

[2019-01-07 09:44] baltedewit commented on #17
I ran into the same issue. There should be no reason why we would not be allowed to change a file we created ourselves, so my guess is that Windows Defender is preventing this because we interact with the file too often. I've added the entire program folder of my vue-electron app as an exception, so I guess I'll see what that brings in a short while.

Unfortunately this error completely stops the

[2019-01-11 21:04] Stormtv commented on #18
The whitelist and blacklist options should allow you to mirror this functionality if I am not mistaken.

[code]

[2019-01-12 21:19] achtan commented on #18
currently i have 11 store modules with avg 6 actions... so its 66 actions and still growing :)
... so maintain so many actions in whitelist array is a byt difficult
with 'paths' support i can only specify modules, and thats it :)
[code]

[2019-01-13 21:55] baltedewit commented on #17
Adding the exception did not help, unfortunately. Issue seems to have been reported in vuex-electron though: https://github.com/sindresorhus/electron-store/issues/31

[2019-01-16 10:03] cwirz commented on #8
Thanks for this plugin. I tried it with axios and it works but i get an error message in the renderer console: `Unhandled rejection Error: Request failed with status code 400`

[code]

[2019-01-16 12:01] ktmouk commented on #8
@cwirz probably, Your sending request failed (url, data or method is invalid). https://github.com/axios/axios/issues/972
You can use `.catch` for catch the error response.

[code]

[2019-01-16 12:16] cwirz commented on #8
@ktmouk yeah this kinda worked but i wanted to catch the error in the component from where i dispatch the action:

[code]
This time i dont get any error like that anymore so thanks!

[2019-01-16 16:25] Stormtv commented on #18
Good points. I'll look into it it might clean my code up a little bit also.

[2019-01-18 13:00] JeroenSormani commented on #8
Was looking all over the internet looking why my Promise handling wasn't working.. Would be great to have a fix in the repo itself without having to manually create the plugin.

[2019-01-19 20:09] MrEmelianenko commented on #16
@jzj1993 @davestewart thank you for the suggestions, functionality will be released soon.

Commit: https://github.com/vue-electron/vuex-electron/commit/e8c77a33b2c8c5a91570192723067254c5cc14ef

[2019-01-19 20:09] #16 closed

[2019-01-19 20:10] MrEmelianenko commented on #15
@gaodeng could you please provide a little bit more information about the issue?

[2019-01-19 20:12] MrEmelianenko commented on #13
@SGarno it's an excellent suggestion, but unfortunately, I don't have enough time to implement this at the moment. But feel free to open a pull request with such functionality, I would be happy to merge it 😉

[2019-01-19 20:16] MrEmelianenko commented on #18
@achtan, unfortunately, I don't have enough time to implement it by myself at the moment. But, please, feel free to open a pull-request with such functionality, I would be happy to merge it.

The best place to start: https://github.com/vue-electron/vuex-electron/blob/master/src/persisted-state.js#L91

Thank you!

[2019-01-19 20:17] MrEmelianenko commented on #12
@SGarno you need to create an instance of the store in all your processes (main and renderer), so they could communicate with each other.

[2019-01-20 18:22] zciendor opened #19 "blacklist functionality broken?"
First, let's look at what is working as expected:
[code]
This will never persist any state. However, this is a bit pointless as the same result could be achieved by not using the `createPersistedState` plugin at all.

Now let's look at the case when blacklisting certain mutations, by providing a list of mutations:
[code]
Well, it's true that the state is not persisted when `ignoredMutation` is fir

[2019-01-25 06:14] morosefrog commented on #17
I also encountered the same problem, is there a way to solve it?

[2019-01-29 12:54] MaverickMartyn commented on #19
I would like an update to this as well.
I am currently having issues where one of my state items is updated very frequently, and I would like to not persist it to disk.
I often have permission issues, since the file is already being modified, and I think this could fix it.

[2019-01-29 14:08] gaodeng commented on #15
PR https://github.com/vue-electron/vuex-electron/pull/20

[2019-01-29 14:08] #15 closed

[2019-01-29 14:08] gaodeng commented on #17
PR https://github.com/vue-electron/vuex-electron/pull/20

[2019-01-29 14:09] #17 closed

[2019-01-30 22:07] MaverickMartyn opened #21 "Q: Is there any particular caveats to change persistance library?"
I was considering changing my vuex persistence package, since the blacklist feature (which I badly need) is currently broken.
I would just like to know of any suggestions as to which alternate package to use, as well as anything I should look out for etc.

Thanks.

[2019-01-31 22:36] MaverickMartyn commented on #19
@zciendor Update:
You can take a look at my fork, and use that until this is fixed.
In my fork, you can use the "ignorePaths" option to avoid persisting specific parts of the state object.
It just takes an array of strings. An example could be ["module.statevalue.anothervalue"].
You can combine it with the existing blacklist functionality, to also block mutations.
If you do not block the mutations

[2019-02-12 04:23] huihongme opened #23 "my vue electron project store use vuex-electron cause “vuex actions” promise not working properly"
store actions：
`delNotes ({dispatch, commit}, id) {
    return new Promise((resolve, reject) => {
      setTimeout(() => {
        resolve()
      }, 2000)
    })
  }`

component：
[Vue warn]: Error in event handler for "on-ok": "TypeError: Cannot read property 'then' of undefined"

[2019-02-16 03:34] PaulBernier opened #25 "Persist partial state"
The whole global state is persisted in the Store: https://github.com/vue-electron/vuex-electron/blob/master/src/persisted-state.js#L96

It would be nice to be able to only save parts of the state. We can easily imagine that some part of the state are volatile (only relevant to the current execution of the application) and shouldn't not be persisted on disk (and not reloaded at startup).

[2019-02-17 03:44] i-smile opened #26 "I can't do mapMutations"
Console show error: Please dont's use direct commit's, use dispatch instead of this.

[2019-02-20 00:28] PaulBernier commented on #25
This is actually what this package does: <https://github.com/robinvdvleuten/vuex-persistedstate> with its options `saveSate` and `getState`

[2019-02-22 19:46] NoelDavies commented on #25
I've got a similar issue - I want some state persisted in memory to enable state to persist during only the app's current session. (Eg switching views, the state should be there still in the same session. But not when closing the app and opening it for another session)

Eg I have a list of players that should only be stored in memory for that session:
[code]
But that data, even though it's in the

[2019-02-23 17:46] NoelDavies commented on #25
I've ended up swapping out this repo for #22

[2019-02-28 16:30] michaeljpeake opened #27 "bad file descriptor errors"
I keep getting errors, `Uncaught Error: EBADF: bad file descriptor, close`, that point back to the `setState` function in PersistedState.

I wonder if this happens when multiple mutations happen in quick succession. Is there a known limitation in this sense? Is so, might it be possible to implement some kind of debounce to prevent file issues?

[2019-03-06 08:54] NoelDavies commented on #27
No way! I've just rewritten my app because I thought it was my fault. 😢 Nice to see it being fixed though 👍

[2019-03-06 11:55] michaeljpeake commented on #27
Actually, I've found the issue may actually be that both the main and renderer functions are trying to set the state on disk.

I've managed to fix it by adding an if statement that checks that the process is the main one, before trying to commit the json to disk. Seems to have fixed everything for me.

I'll create a new fork and see if this one can be merged in.

[2019-03-06 15:12] Bomberus commented on #26
As the error states, only use actions inside your vue app.
Inside your actions, you can call the mutations via commit.

[2019-03-06 20:51] NoelDavies commented on #27
I've been testing the new build of my app - and sometimes I get 10+ state updates within a second, so I think these be better off being queued and written every _configurable-timeframe_ (eg 500ms) as I assume the debounce PR addresses.

It would definitely increase performance once the process check fix is implemented. Yes, it may cut my writes by half, but I still think I may have the same issue

[2019-03-08 12:02] NoelDavies commented on #23
I have it working fine on my local machine, can you show the code you're using? Also, have you included a plugin to allow promises to work in vuex actions?

My working setup:
**src/renderer/store/index.js**
[code]

**./src/renderer/store/promise-action.js**
[code]

Hope that helps

[2019-03-08 12:04] NoelDavies commented on #21
@MaverickMartyn , I'm using yours.. haha.

I just swapped it out directly in the package.json file like so:
[code]

[2019-03-13 10:21] step4 opened #31 "access state in main process"
I'm using this package within the electron-vue boilerplate template.

my module looks like this:(pathsData.js)
[code]

my main process js file starts with:
[code]

the output this console.log is:
`{ filePath: [Getter/Setter], framesFolderPath: [Getter/Setter] }`

when I try to log `filePath` with:
[code]
 I expect the string `test` but nothing will be logged in the console

[2019-03-13 10:28] step4 commented on #31
nevermind was my fault.
Can be closed

[2019-03-13 10:28] #31 closed

[2019-03-19 08:07] mittalyashu commented on #12
I am still facing this issue, I have even imported vuex store in the component itself.

[2019-03-20 01:28] benpicone opened #32 "Can someone help me on how to compile for distribution? help wanted"
I've tried to compile with "electron-builder" but couldn't get it to work, can someone help me on which path to take?

[2019-03-20 02:02] #32 closed

[2019-03-20 15:40] mittalyashu commented on #12
We need to import store in the `main/index.js` file only if we want to use `createSharedMutations` plugin. Otherwise you don't have to do it.

[2019-03-29 10:14] laroox commented on #23
i shall just add, in the component
//myComponet.vue
.
.
.
methods:{
myAjaxCall(){
this.$store.dispatchPromise('MyAction').then(.....) // instead of this.$store.dispatch('MyAction').then(.....)
}

[2019-04-06 19:57] MaverickMartyn commented on #21
I figured it out on my own, but forgot to close this. Sorry about that. :)

[2019-04-06 19:57] #21 closed

[2019-04-20 07:43] Liupeng8 opened #34 "how to monitor the value change in the main process"
If the operation changes the value in the rendering process, how to monitor the value change in the main process, such as: the computed attribute in vue。

[2019-04-20 16:31] darkman97i commented on #8
In my case I'm usign axios and I return the Promise:
[code]
And from the component I'm using in this way:
methods: {
      ...mapActions('user', ['login'),
      executeLogin() {
        this.login({ username: this.username, password: this.password }).then(response => {
          // Get user data
          ....
        }).catch(error => {
          this.showError(error);
        });
      }
    }

[2019-04-24 09:20] laroox opened #35 "state return previous data after page refresh"
[code]
after page refresh store giveback previous data stored.
how can i prevent  store from keeping data?

[2019-04-25 07:39] thesogafoi opened #36 "Is Data Stored in my Vuex when i build electron app and then close it?"
Hey Guys i'm so confusing i want to build an electron app whit vue an vuex i have two questions

1) if i close app (for example turn off my pc and after few days turn on it and open the app again ) , all data saved to vuex or not ? need i use databases like sqlite to store data from vuex?

2) i want to have two databases localdatabase and online database i can handle online database but how can i

[2019-04-25 07:43] Liupeng8 opened #37 "Can't resolve '@/components/...' when importing router into Vuex module file"
Hey guys,I have the same problem with this. https://github.com/SimulatedGREG/electron-vue/issues/758

The documentation is still not clear enough, such as the parameters in the whitelist are too general.

In my application, vuex contains `app, user, win` 3 modules. In the main I only use `win`, the other 2 are used in the renderer, how can I set createPersistedState()

`createPersistedState({
  wh

[2019-04-25 08:40] AshfieldFox commented on #34
Hello, just try :
store.subscribe((mutation, state) => {
  console.log(mutation.type)
  console.log(mutation.payload)
})

[2019-04-25 09:56] Liupeng8 commented on #37
@AshfieldFox   Can you help me with this question? think you.

[2019-04-25 10:39] AshfieldFox commented on #37
I just reply that issue yet.
Here it is  and hope it would be effective.
[https://github.com/SimulatedGREG/electron-vue/issues/758#issuecomment-486619093](url)

[2019-04-25 10:45] Liupeng8 commented on #37
@AshfieldFox
Is there a way to load only the stores that need to communicate with each other in the main process?
If the main process is loaded into the store and the structure in the rendering process is destroyed, the role of vuex-electron will be greatly reduced.

[2019-04-26 12:12] NoelDavies commented on #35
Don't persist it, comment out `  plugins: [createSharedMutations()],`

[2019-04-26 12:17] laroox commented on #35
@NoelDavies  thanks for your reply.
we relay on `plugins: [createSharedMutations()]` to allow axios  authenticate using certificate from the main process, once  we comment `plugins: [createSharedMutations()]` our request for example `axios.get(...)` won't work because it's executed from the renderer process.

[2019-04-27 05:46] GregShanken commented on #10
Hi @skew202! Have you come up with a solution to this problem?

[2019-04-29 07:33] mxj7000 opened #38 "Uncaught Error: [Vuex Electron] Storage is not valid. Please, read the docs."
Hi, Integrate the vuex into the electron , my application will run to this issues,

Uncaught Error: [Vuex Electron] Storage is not valid. Please, read the docs.
    at a (C:\Users\Administrator\Desktop\win-unpacked\resources\app.asar\node_modules\vuex-electron\dist\persisted-state.js:1)
    at C:\Users\Administrator\Desktop\win-unpacked\resources\app.asar\node_modules\vuex-electron\dist\persisted-

[2019-05-11 08:30] mxj7000 commented on #38
Resolved issues, we don't use the vuex-electron to do it;

[2019-05-17 23:25] blastoy commented on #10
[code]

[2019-06-06 16:26] NoelDavies opened #39 "Add Gen 1 Support"
Wrong Repository

[2019-06-06 16:27] NoelDavies commented on #39
Wrong

[2019-06-06 16:27] #39 closed

[2019-06-11 08:46] stiflerproger opened #40 "How to save and edit arrays in Store?"
I have this structure of Settings model
`
const state = {
  price_between: {
      enabled: false,
      value: [0,0]
    }
}
`
Then change the value to `[10, 10]` via mutation;
`state['price_between'].value = [10, 10];` and it works fine, and i get this array as expected.

But now i refresh page and get state:
`
state.price_between === [0, 0, 10, 10];
`

And every time i reload page, it just addi

[2019-06-11 14:19] stiflerproger commented on #40
I think i found problem. Becouse on load module use deep-megre, arrays comparing by values, and add not existed before values.
I changed my structure to
`
const state = { price_between: { enabled: false, from: 0, to: 0 } }
`

[2019-06-11 14:19] #40 closed

[2019-06-26 09:57] rtf-const commented on #27
I think that the error is caused by bug in write-file-atomic
https://github.com/npm/write-file-atomic/issues/39

Easiest solution is to upgrade electron-store module to 3.3.0, which requires newer version of conf module, which requires version write-file-atomic where the bug was fixed

[2019-07-21 07:56] Just2 commented on #27
I have tried upgrading electron/vuex-electron/write-file-atomic and tried the method by michaeljpeake, but useless. Finally I change to use ipMain = =

[2019-07-27 12:22] TheSimpleZ opened #42 "Prototype and functions not maintained in the process it was created"
## The problem
I use this library in a project where i store a class in my state, kind of like this:

[code]
Now this is an oversimplified example. In my case it's not really a class, but an object that has functions added to it by a 3rd party library.

The problem is that when i dispatch the newCounter action from a renderer process the action is being intercepted and processed on the main proces

[2019-08-06 14:57] Zyles commented on #36
Vuex is a state management for the session, it is not persistent. Either save and load the state on disk in JSON files or in a database such as SQLite.

[2019-08-06 17:15] Zyles opened #43 "Not updating the state"
If I use both `createPersistedState, createSharedMutations` I can call `store.dispatch('setAuthCode', query.code )` from my main process.

If I remove createSharedMutations I can not.

But using both, I can not update the state in my component using: `this.$store.dispatch('setAuthCode', code)`

If I remove createSharedMutations I can update state in my component.

How can I call an action to mutat

[2019-08-15 12:05] vterzic commented on #43
[This](https://github.com/vue-electron/vuex-electron/issues/12#issuecomment-449471494) should fix it

[2019-08-15 23:51] Zyles commented on #43
Already have ```import store from './store'``` in my background.js

[2019-08-16 12:40] vterzic commented on #43
Are you using electron-vue boilerplate?

I had the exact same problem as you and above mentioned solution fixed it.

[2019-08-19 22:34] JoacoEsteban commented on #36
Is this so? I see that part of the store is persistent and is maintained across builds.

[2019-08-20 11:08] Zyles commented on #36
Vuex by default does not, but with this library if you use the createPersistentState option it will save the store in AppData.

[2019-08-29 14:10] MrEmelianenko opened #44 "Maintainers required"
Hi guys,

I'm not able to allocate a lot of time for this project anymore. So I'm looking for a good developer who can help me. I'll give him access to the repository, so he'll be able to merge pull-requests and release updates.

**Requirements:**
- 3+ years experience in JavaScript
- An open-source repo with 100+ stars _(optional)_

Have a good day,
Andrew

[2019-08-29 14:11] MrEmelianenko commented on #43
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:11] MrEmelianenko commented on #42
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:11] MrEmelianenko commented on #38
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #37
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #36
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #35
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #34
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #27
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #26
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #25
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #23
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #19
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #18
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #14
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #13
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #12
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #11
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:12] MrEmelianenko commented on #10
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 14:13] MrEmelianenko commented on #8
https://github.com/vue-electron/vuex-electron/issues/44

[2019-08-29 22:54] davestewart commented on #44
I am in the same boat - not enough time for OS projects :(

Good luck!

[2019-09-01 07:58] MrEmelianenko commented on #44
@davestewart thank you. Good luck too! 😉

[2019-09-03 11:47] legolaserea commented on #34
@AshfieldFox maybe this  referee is wrong.

I do in my work like below:
first  create an instance of store in the main process, like this:
[code]

and then
[code]

the mutation is the value's related mutation in the store

[2019-09-11 20:09] #11 closed

[2019-09-13 10:42] Zyles opened #45 "Unable to use code in actions with createSharedMutations"
When enabling createSharedMutations in my project I am unable to execute any code I put in my store actions when using dispatch.

It jumps straight to the mutation code.

[2019-10-03 14:29] daniandl opened #46 "Locally stored state doesn't get updated and causes weird merges"
I'm writing this mostly as a warning, as I lost hours debugging this...
(I'm using the base Vue Electron boilerplate from CLI3.)

My project started with a `store.js` file, I converted it to a folder with an index.js and a vuex module for better organization.

I imported the store to my electron's main process file (background.js) and `console.log` to see that the state from my old and *deleted* `

[2019-10-04 11:00] MaverickMartyn commented on #44
I am not sure I have time to do this as well.
I'll take some time to consider it. Maybe if someone else here is good at webpack it could work out?
Or are people moving away from that now? I haven't been active in the electron community for about half a year or so. If I can get away with just managing it, that could possibly work too.

[2019-10-04 11:42] NoelDavies commented on #35
@larbijirari Your main process should essentially be a router / event handler, it shouldn't be doing anything chunky. I'd suggest finding another way to get your authentication to work and possibly creating a hidden/fake window to handle these tasks and offload them from your primary renderer's processing power for painting etc.

[2019-11-01 14:03] baruchiro commented on #46
Where is the `userData` folder you talking about?

[2019-11-01 17:55] daniandl commented on #46
https://electronjs.org/docs/api/app#appgetpathname

[2019-11-06 14:17] michaeljpeake commented on #17
I've just spent a few hours hunting this down. The following is my understanding...

Ultimately, I think the issue comes from [here](https://github.com/npm/write-file-atomic/issues/49).

`vuex-electron` uses `electron-store` which uses `conf` which uses `write-file-atomic`. The latter has a function, `writeFileSync `, which is supposed to prevent multiple processes from overwriting the `vuex.json`

[2019-11-07 07:15] zjruan commented on #38
vuex-electron‘s  `createPersistedState` method , depend `electron-store` <- `conf` <- `write-file-atomic`. and the method `writeFileSync` in `write-file-atomic` use `fs.renameSync`.

But, `fs.renameSync` Sometimes it goes wrong when multithreading because race condition。and every electron window is a rendering process。So，there is no solution until `write-file-atomic` solves the problem.

We can fi

[2019-11-07 18:36] baruchiro commented on #17
I'm new in `node`, `electron`, `vue`.
But some questions:

 - Is there a workaround for this bug?

 - I understand that the problem is in `electron-store`. If so, why is the `yarn.lock` file set to me like this:
[code]
    And if I add the `electron-store` to the `package.json` file, does the `yarn.lock` file add a new record ?:
[code]
    Why does `electron-store` stay in version 2?

 - Is this r

[2019-11-08 10:03] michaeljpeake commented on #17
#44 Basically, no. These things take up a lot of unpaid time sadly. I have created a fix (by throttling setState). I'll put it on my fork later today and share a link.

[2019-11-08 10:09] michaeljpeake commented on #17
@baruchiro Regarding your yarn thing ...

My understanding is that electron-store@2.0.0 is kept because it is a dependency of this project. The problem, however, is with `write-file-atomic` and Windows.

[2019-11-08 13:42] baruchiro commented on #17
My workaround was done one commit to adding all items in a collection, instead of committing each.

[2019-11-13 17:42] michaeljpeake commented on #17
@baruchiro Feel free to try my [forked repo](https://github.com/michaeljpeake/vuex-electron).

When you initiate `createPersistedState()`, you can include `throttle` (number in milliseconds) in your options; e.g.

    createPersistedState({throttle: 1000})

This will mean the app writes to disk a maximum of once every second. It's worked well for me. It's also a trailing throttle, meaning the last

[2019-11-16 16:54] baruchiro commented on #17
@michaeljpeake Does your fork have a package?

[2019-11-17 08:45] michaeljpeake commented on #17
You should be able to install it with `npm install git+https://github.com/michaeljpeake/vuex-electron.git`

[2019-11-26 08:20] koibi2 commented on #36
it should be `createPersistedState`

[2019-11-30 01:54] tominal commented on #17
@michaeljpeake there was an issue with your ```last``` variable. i forked the fork and it's working great. the slight delay in state change is a good compromise to avoid those annoying errors.

[2019-12-03 16:39] michaeljpeake commented on #17
Thanks @tominal. I see I changed the variable name but not its declaration. Oops. Fixed in my repo too now, in case I come back to it.

Compromise is a suitable word. It doesn't feel quite right but it seems to be working. Also, if your store gets big, it's probably desirable to avoid writing it to disk constantly.

[2019-12-08 16:42] suifengtec commented on #17
@michaeljpeake

somewhere of the file`node_modules/vuex-electron/dist/persisted-state.js` , need to modify to :

[code]

[2019-12-09 12:09] michaeljpeake commented on #17
Thanks @suifengtec. I needed to actually build the thing rather than just update the src code.

[2019-12-30 07:31] weifu2 commented on #46
I meet the same problem，I want to clear vuex.json in my `userData` folder，how do you solve it？

[2019-12-30 13:02] daniandl commented on #46
@weifu2 I ended up not using this library, so I don't know sorry.
I switched to purely using IPC.

[2020-01-17 16:40] thesogafoi opened #48 "catching data In nuxt js , vue"
how can i catch my data in nuxt js , for example when a user come and see my posts and then after few days he/she see my website again can i use catch for retrieving data ? and dont use ajax again for get api's ?‌ and what happened when i  add new post‌? will data update itself and get just new data  ?

[2020-01-24 14:09] baruchiro opened #49 "Bump deepmerge"
![WhatsApp Image 2020-01-24 at 09 38 49](https://user-images.githubusercontent.com/17686879/73075032-aa01a200-3ec3-11ea-9a7c-07efbc7b6bff.jpeg)

I have a problem that I think can be solved by upgrading the `deepmerge` package.
I can't start a workspace in my machine, something with `python2` and `node-gyp`, so I don't open a PR.

[2020-02-01 04:37] #36 closed

[2020-04-07 10:12] yanwenjia commented on #37
Is there a good solution?

[2020-04-16 23:28] namila007 commented on #8
@ktmouk  thank you so much for your solution. I was searching why I cant get the async replies using dispatch. If you can please add it as a plugin to npm, so others can easily use this. thanks again :)

[2020-04-21 13:16] rassokhina-e opened #52 "vuex-electron doesn't support batch deleting by condition from vuex-orm"
`createSharedMutations` doesn't allow to work with batch deleting method by condition from `vuex-orm`, which has the following form:

The issue with the loop of the method `File.delete((file) =>...` (with the condition)
But other methods work well (insert, update, find, etc.).
Also File.delete(id) without the condition works well.

In `vuex-orm`, both deleting by id and deleting by condition run t

[2020-04-21 19:10] rassokhina-e commented on #52
@truemelianenko Hello! What do you think about the issue above? Perhaps you can help me with that issue, please:)

[2020-04-23 18:15] rassokhina-e commented on #52
Hello! I want to share with you the result of my research on combining `vuex-orm` and `vuex-electron` for the issue above. I've figured out that the method of batch deleting with condition works well in the Main process of Electron. So I moved that function to the main process:

[code]

[2020-04-23 18:15] #52 closed

[2020-05-22 15:25] pascal-renner opened #53 "Could not find a declaration file"
I imported the module like this
`import { createPersistedState, createSharedMutations } from "vuex-electron"`

and got the error:

[code]

I kinda fixed it with adding a index.d.ts file in the modules containing `declare module 'vuex-electron';` but im getting a
`Module not found: Error: Can't resolve 'worker_threads' in 'C:\Users\pasca\Projects\time-manager\node_modules\write-file-atomic'` error

[2020-05-22 21:56] PavelShar commented on #17
My solution:

* use `vuex-electron` for `createSharedMutations`
* use `vuex-persistedstate` for `createPersistedState`
* use `electron-store` for storage object

Example:

[code]

Tested on MacOS 15 and Windows 10 — no EPERM error

[2020-06-02 06:29] ZhangZheng-GIS commented on #38
Hi, what did you change?

[2020-06-03 07:04] ZhangZheng-GIS commented on #38
Hi @zjruan, I used a background process and got this error. Is there a specific solution？

[2020-07-04 09:41] 2537308116 opened #54 "dispatch"
循环调用dispatch修改数据 window下vuex报错 error:EPERM:operation not permitted, rename

[2020-07-13 15:03] #46 closed

[2020-07-30 17:58] AMalley opened #58 "No way to configure the electron-store instance outside of changing the file name"
When using `createPersistedState` there doesn't appear to pass any of the `electron-store` options along to the store instance. In `createStorage` it only provides the store instance a file name.

Would it be possible to also support the other options of `electron-store`?

[2020-08-16 18:50] NoelDavies commented on #58
I've manually copied the code to do this. I can extend and submit a PR instead if people want it?

[2020-08-16 18:51] NoelDavies commented on #44
I'm happy to be a collaborator, but not on my own xD I may be interested in taking ownership if we can enable github sponsorship?

[2020-08-16 18:51] NoelDavies commented on #54
Can you provide more information please @2537308116 ?

[2020-10-08 12:58] espace-4-0 commented on #38
Hi Guys,

Is the bug fixed ?

Best regards,
Lenaïc

[2020-10-12 20:39] voxpopgames opened #60 "Failed to serialize arguments"
Hello, I am very new to electron, vue and Vuex. Currently I am running into an issue after I updated my MacOS of "failed to serialize arguments":

![Screen Shot 2020-10-12 at 4 35 27 PM](https://user-images.githubusercontent.com/66039711/95788155-f6d31600-0ca8-11eb-8135-46ab9ec04427.png)

Currently my tech stack for this project is Vue.js, Electron and Spring Boot.

If anyone could point me in the

[2020-10-15 08:48] dirkhe1051931999 opened #61 "[shared data] Master init failed"
I don't want use `createPersistedState()` plugin，i remove it，but is having a wrong like this

`[17276:1015/164137.107:ERROR:CONSOLE(7)] "[shared data] Master init failed", source: chrome-extension://vue-js-devtools/build/devtools.js (7)`

it print all the time
![image](https://user-images.githubusercontent.com/22389976/96099836-45c9b700-0f06-11eb-8f87-86bb982209f3.png)

[2020-11-19 20:58] VictorioBerra commented on #45
Same but my mutation is not called either. When removing createSharedMutations it works. I have imported the store in main.js, not sure why READMEE says to do this since you pretty much have to in order to add it as a plugin.

[2020-11-25 08:35] youdu2305 opened #63 "[Vuex Electron] Storage is not valid"

[2020-12-16 08:26] ISMAILRAMZAN commented on #36
after build electron app the createPersistedState does'nt store data after closing app. have any idea about this type of error why data is no stored when we use createPersistedState in electron-vue app. if any one tell me i will apreatiate him please! soon reply

[2020-12-23 15:01] NoelDavies commented on #63
Could you at least provide some error or description here?

[2021-01-15 10:13] talfwin commented on #63
I got the same error. It seams to drop error while running checkStorage.
![image](https://user-images.githubusercontent.com/34667848/104711815-cc3ba200-575c-11eb-9f73-73aa6c5a52de.png)
After print the catch log I got this
![image](https://user-images.githubusercontent.com/34667848/104712016-09a02f80-575d-11eb-9d17-4dda6980e9dc.png)

[2021-02-01 10:38] fjeddy commented on #25
For anyone coming across this, just use the library mentioned by the OP in combination with this one, using the persistance from `vuxex-persistedstate` and the sharing state / actions using this library.

[code]

[2021-02-02 13:59] SweetMNM commented on #60
@voxpopgames Hi there,

I ran into the same error and tried to debug but couldn't figure out how to fix it. I was wondering if you were able to solve it and if not what did you do?

[2021-02-19 14:07] Slgoetz commented on #53
I see the same error. Did you ever figure this out?

[2021-02-24 00:30] michaelmano opened #66 "How to rehydrate after restarting or reloading."
This is more of a question as I cant find any information on it or dont know what im looking for, I have a basic app. Im wanting to know how to rehydrate the state after the application is restarted or closed.

my store is using the following:
[code]
and my main is importing the store but when the application reboots the store is blank again.

[2021-02-24 04:20] michaelmano commented on #66
Don't worry. for some odd reason this only works if my actions are all uppercase.

[2021-02-24 04:20] #66 closed

[2021-03-08 06:07] GuoSirius commented on #61
Did you solve it? I had the same problem.

[2021-03-08 09:32] dirkhe1051931999 commented on #61
不用electron-vuex 直接用vuex

[2021-03-09 04:00] michaelmano commented on #63
@talfwin if you try set the `storageName` do you still get this issue?
[code]

[2021-03-19 15:13] vFire commented on #45
Same...

[2021-03-31 17:32] michelvermeulen opened #68 "No console or network logged"
Hey guys

I’m using this neat module for my electron app but I can’t see any console log or network request when doing it from my store.

If I move the same method to the vue instance it works just fine.

It does send the request etc within the store but it’s impossible to see the console or request in the console of the renderer or even the command line.

I did import the store in the main and th

[2021-04-06 14:06] wojciechkrzysztofik opened #69 "[conf, ajv] DevTools failed to load SourceMaps"
Hey guys!

I spotted weird issue. It appears on development and production version as well. DevTools throws lots of warnings like: "DevTools failed to load SourceMap: Could not load content for http://localhost:8081/MY_APP_PATH/node_modules/conf/node_modules/ajv/dist/ajv.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE".

Any idea how to solve this? I believe it's because i

[2021-04-15 09:41] NoelDavies commented on #66
I was going to say, you could always persist to localstorage instead?

[2021-04-20 23:46] crwgregory commented on #35
You can delete the file that is saved manually.
Underneath the hood this module is using `electron-store` that writes a json file to `app.getPath('userData');`
https://github.com/vue-electron/vuex-electron/blob/master/src/persisted-state.js
https://www.npmjs.com/package/electron-store/v/2.0.0

So in your main process check to see where that is on your file system:
[code]
Then cd into the directory

[2021-05-28 10:23] carldr commented on #69
I've had this too, and couldn't find a way of either rewriting the URLs to they actually loaded, and I wanted source maps to be enabled for my own code, so I couldn't disable them.  Temporarily, until I do find a solution, I've done this to to remove the sourceMappingURLs from the modules.

In package.json :

[code]
And in the root of my app, a file fix-node-module-source-maps.sh, set executable :

[2021-05-29 12:50] BetaHuhn commented on #44
Hey guys,

I stumbled upon this library a while ago but noticed a few issues and things I wanted to improve. I was first thinking about forking it and becoming a collaborator, but because of the number of existing issues and the lack of a maintainer I decided to write a new separate one instead.

[vuex-electron-store](https://github.com/BetaHuhn/vuex-electron-store) currently only focuses on persi

[2021-06-19 21:58] ferm10n commented on #68
I'd recommend trying to attach a debugger to the main process, or adding a `console.log` inside the dist of vuex-electron inside of its `on. There's a method called `mainProcessLogic` that dispatches the actual vuex action node side:
https://github.com/vue-electron/vuex-electron/blob/master/src/shared-mutations.js#L86-L88

Tweaking that might help you expose its secrets. But you'd need to make sur

[2021-06-19 22:35] ferm10n commented on #69
This is actually (at least in part) from electron-store. I just started a fresh project and those source map errors started appearing the moment I added `import ElectronStore from "electron-store";`. This was before I even added vuex-electron!

[2021-06-20 01:59] ferm10n commented on #8
The heart of the issue is that there's no way for the result of an action to be passed back to the renderer process.
This was my approach to changing the library, although it needs electron > 7 to use `invoke`...

https://github.com/ferm10n/vuex-electron/commit/ec3bab4b6838903cbc64801935c4de2419eaf085#diff-5ea1fc93a80776ff21fc637ff5967a710b3effa4720112d9b09617662fb2f8afR46-R107

Also I think I mig

[2021-06-20 02:06] ferm10n commented on #14
Based on my understanding of vuex-electron, the single source of truth should be based in the main node process. This is accomplished right now by having the renderer dispatch actions, and the main process performing the commits...

I think mutations could be triggered on the renderer too, using `ipcRenderer.sendSync` but that would obviously be blocking. IMO that's a fair trade for not dispatchin

[2021-06-20 02:13] ferm10n commented on #14
@gabrielstuff @davestewart what do you think about that option? I'm working on a fork of this project and will be trying it out.

(forgot to tag in original comment, not sure if github will notify if I add it in an edit)

[2021-08-19 09:16] sudhakar3697 commented on #17
Hi @michaeljpeake

Any specific reason you decided not to publish a new npm module?.  Please do consider publishing a package on npm with your forked repo.

Thank you.

[2021-09-11 07:12] bayun2 commented on #60
you can try clone param before you commit it

[2021-11-17 12:36] #10 closed

[2021-12-22 00:52] bart commented on #69
Also having this issue caused by `electron-store` Any solution so far? Thanks!

[2022-01-08 13:08] Gkiokan commented on #69
Had this in a while, too.

Add this to your dependencies. Note this is not in devDependencies because I needed it somehow in the production build, too.

[code]

[2022-01-08 13:14] Gkiokan commented on #63
This error happens only on windows. I am facing the same Issue and it is really annoying.
The issue is explained [here](https://github.com/vue-electron/vuex-electron/issues/38#issuecomment-550948959) which seems to be caused by multithreading because windows runs in race condition.

You can also look into [this issue #17](https://github.com/vue-electron/vuex-electron/issues/17#issuecomment-5535200

[2022-01-08 16:35] Gkiokan commented on #38
I got a fix for you guys.  I struggled with that for my application on my windows users and it is really annoying.
However, I've found a valide workarround.

The error and crash happens due the `thrown error` in the plugin.
So you 2 options.  Either you fix the race condition or you handle the Storage creation properly.

I am using 4 windows on my side and all of them have parallel access to the s

[2022-01-08 21:10] Gkiokan opened #80 "[fix] [Vuex Electron] Storage is not valid. Please, read the docs."
I got a fix for you guys.  I struggled with that for my application on my windows users and it is really annoying.
However, I've found a valide workarround.

The error and crash happens due the `thrown error` in the plugin.
So you 2 options.  Either you fix the race condition or you handle the Storage creation properly.

I am using 4 windows on my side and all of them have parallel access to the s

[2022-03-10 07:15] wpbjiuy opened #82 "'createPersistedState' add options 'cwd'?"
`
createStorage() {
    return new Store({ name: this.options.storageName || STORAGE_NAME, cwd: this.options.cwd })
  }
`

[2022-04-03 15:01] MLDMoritz opened #84 "Webpack 5 incompatibility"
BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longer the case.

[2022-07-04 07:38] Honglangdi commented on #61
I also Meet the same problem，vue-devtools error with “[shared data] Master init failed”，did you solve it？

[2022-11-28 08:44] kwhbill opened #91 "the package electron-store is not lastest ,Cannot read properties of undefined (reading 'app')"
![image](https://user-images.githubusercontent.com/29010550/204232630-dcd760ff-bf28-4f40-be87-ed2407703891.png)
![image](https://user-images.githubusercontent.com/29010550/204232679-e1d07a09-7f0d-4f50-9a57-a90101819b00.png)

[2022-11-28 08:44] kwhbill commented on #91
![image](https://user-images.githubusercontent.com/29010550/204232818-13d6bc11-7b86-46b2-ac79-4ebb3415b8f5.png)